:root {
    --brand-color: #212121;
    --accent-color: #2196F3;
    --accent-text-color: #FFFFFF;
    --paragraph-color: #757575;
    --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}